.home-page .about-us {
  font-size: 16px;
  line-height: normal;
  background-color: var(--primary-background-color-gray);
  color: var(--primary-text-color-white);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding-top: 32px;
  padding-left: 32px;
  padding-bottom: 64px;
  box-sizing: border-box;

  h2 {
    color: var(--primary-text-color-white);
    width: calc(100% - 32px);
    @apply break-words whitespace-normal;
    line-height: 1.5;
    box-sizing: border-box;
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
    flex-shrink: 1;
  }
}
