.home-page .hero {
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.45) 100%),
    url("../../../assets/images/qui-nguyen-Zrp9b3PMIy8-unsplash.jpg") lightgray
      0px -613.65px / 100% 408.885% no-repeat;

  background-position: center;
  background-size: cover;
}
