.home-page .quote {
  width: 100%;
  text-align: center;
  padding: 48px 20px;
  /* padding: 48px 400px; */
  box-sizing: border-box;

  h1 {
    font-family: Lora, Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-style: italic;
    line-height: normal;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
  }
}
