@import "tailwindcss";
@import "tw-animate-css";

:root {
  --primary-background-color-gray: #2e2e2e;
  --primary-text-color-white: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
